* {
  margin: 0;
}

body {
  background-color: #0F0D13;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
 width: 1037px;
 height: 631px;
 border-radius: 8px 8px 0px 0px;

 background-color: #0F0D13;

 display: flex;
 justify-content: center;
 align-items: center;
}


.player .player-music {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player .player-music .player-1 {
  color: #ffff;
  border: 0.3rem solid #2A2141;
  border-radius: 9.60297px;
  background-color: #2A2141;

  padding: 38.4119px;
  gap: 28.81px;
  margin: 0 38px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player .player-music .player-1 .img-player-1 {
  width: 189.66px;
  border-radius: 6.00185px;

}

.player .player-music .player-1 .information {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.player .player-music .player-1 .information h1 {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24.01px;
  color: #E1E1E6;
}

.player .player-music .player-1 .information p {
  padding: 5px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 19.21px;
  color: #E1E1E6;
  opacity: 67%;
  
}

.player .player-music .player-1 .controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50.42px;
}

.track-time .track::before {
  content: '';
  height: 6px;
  width: 189.66px;
  display: block;
  position: absolute;
  width: 189.66px; 
  background: #D9D9D9;
  opacity: 0.3;
  border-radius: 9.60297px;
}

.track-time .track::after {
  content: '';
  width: 165px;
  height: 6px;
  display: block;
  position: relative;
  background: #D9D9D9;
  opacity: 0.8;
  border-radius: 9.60297px;
}

.player .player-music .player-1 .track-time .time {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 189.66px;
  opacity: 70%;
}

/*'''''''''''''''''''''''''''''''''''''''''''''''''''''''''*/

.player .player-music .group {
  display: grid;
  gap: 38px;

}

.player .player-music .group .player-2 {
  border: 0.3rem solid #2A2141;
  border-radius: 9.60297px;
  background-color: #2A2141;
  color: #ffff;
  
  display: grid;
  padding: 20px;
  gap: 26px;
}

.player .player-music .group .player-2 .informations-player-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28.81px;

  
}

.player .player-music .group .player-2 .informations-player-2 .img-player-2 img {
  width: 84.03px;
  border-radius: 6.00185px;
}

.player .player-music .group .player-2 .informations-player-2 .title-player-2 h1 {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24.01px;
  color: #E1E1E6;
}

.player .player-music .group .player-2 .informations-player-2 .title-player-2 p {
  padding: 5px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 19.21px;
  color: #E1E1E6;
  opacity: 67%;
  
}

.player .player-music .group .player-2 .controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50.42px;
}

.player .player-music .group .player-2 .track-time-player-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player .player-music .group .player-2 .track-time-player-2 .time-player-2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  opacity: 70%;
}

.track-time-player-2 .track-player-2 {
  display: flex;
  justify-content: flex-start;

  width: 100%;
  height: 6px;
  background: gray;
  border-radius: 9.60297px;
}

.track-time-player-2 .track-player-2::after {
  content: '';
  width: 261.08px;  
  height: 6px;
  display: block;
  position: relative;
  background: #D9D9D9;
  opacity: 0.8;
  border-radius: 9.60297px;

  z-index: 99999;
}

/*'''''''''''''''''''''''''''''''''''''''''''''''''''''''''*/

.player .player-music .group .player-3 {
  border: 0.3rem solid #2A2141;
  border-radius: 9.60297px;
  background-color: #2A2141;
  color: #ffff;

  display: grid;
  padding: 29px;
  gap: 29px;
}

.player .player-music .group .player-3 .informations-player-3 {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 28.81px;
}

.player .player-music .group .player-3 .informations-player-3 .img-player-3 img {
  width: 84.03px;
  border-radius: 6.00185px;
}

.player .player-music .group .player-3 .informations-player-3 .title-player-3 h1 {
  font-family: 'roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24.01px;
  color: #E1E1E6;
}

.player .player-music .group .player-3 .informations-player-3 .title-player-3 p {
  padding: 5px;
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-size: 19.21px;
  color: #E1E1E6;
  opacity: 67%;
  
}

.player .player-music .group .player-3 .controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50.42px;
}